<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel = "stylesheet" type = "text/css" href = "blog.css" />    
  </head>
<body>

  <h1>Hello It's Vinshi </h1>
  <a href="/articles">My Blog</a>

</body>
</html>