<div class="articles-list" id="listContainer">
  <h1> Articles List</h1>
  <div class="articles-list-table">
    <table style="width:100">
    <thead>
      <tr>
        <th>Title</th>
        <th>Operation</th> 
      </tr>
    </thead>
    <tbody class="articles-list-data"></tbody>
    </table>
  </div>
</div>