<div class="new-article" id="newContainer">
  <h1>New Article</h1>
  <div class="new-article-form">
    <form action="" method="post" id="articleForm">
      Title:<br>
      <input type="text" name="title" id="title"  type="text">
      <br><br>
      Description:<br>
      <input type="text" name="description" id="description" type="text">
      <br><br>
      <button class="button" id="articleSubmitButton">Submit</button>
    </form> 
  </div>
</div>